* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-left: 5px;
}